<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsnjfz.manage.modular.system.dao.LoginLogMapper">

	<select id="getLoginLogs" resultType="map" parameterType="com.baomidou.mybatisplus.plugins.Page">
		select * from sys_login_log
		<where>
			<if test="beginTime != null and beginTime !='' and endTime != null and endTime != ''">
				(createTime between CONCAT(#{beginTime},' 00:00:00') and CONCAT(#{endTime},' 23:59:59'))
			</if>
			<if test="logName != null and logName !=''">
				and logname like CONCAT('%',#{logName},'%')
			</if>
		</where>
		order by
		<choose>
			<when test="orderByField == 'logname'">logname</when>
			<when test="orderByField == 'message'">message</when>
			<when test="orderByField == 'ip'">ip</when>
			<otherwise>
				createtime
			</otherwise>
		</choose>
		<choose>
			<when test="orderByField == 'logname' or orderByField == 'message' or orderByField == 'ip'">
				<choose>
					<when test="isAsc == true">ASC</when>
					<otherwise>DESC</otherwise>
				</choose>
			</when>
			<otherwise>DESC</otherwise>
		</choose>
	</select>

</mapper>
