<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsnjfz.manage.modular.system.dao.OperationLogMapper">

	<select id="getOperationLogs" resultType="map">
		select * from sys_operation_log
		<where>
			<if test="beginTime != null and beginTime !='' and endTime != null and endTime != ''">
				(createTime between CONCAT(#{beginTime},' 00:00:00') and CONCAT(#{endTime},' 23:59:59'))
			</if>
			<if test="logName != null and logName !=''">
				and logname like CONCAT('%',#{logName},'%')
			</if>
			<if test="logType != null and logType !=''">
				and logtype like CONCAT('%',#{logType},'%')
			</if>
		</where>
		order by
		<choose>
			<when test="orderByField == 'logtype'">logtype</when>
			<when test="orderByField == 'logname'">logname</when>
			<when test="orderByField == 'classname'">classname</when>
			<when test="orderByField == 'method'">method</when>
			<when test="orderByField == 'message'">message</when>
			<otherwise>
				createtime
			</otherwise>
		</choose>
		<choose>
			<when test="orderByField == 'logtype' or orderByField == 'logname' or orderByField == 'classname' or orderByField == 'method' or orderByField == 'message'">
				<choose>
					<when test="isAsc == true">ASC</when>
					<otherwise>DESC</otherwise>
				</choose>
			</when>
			<otherwise>DESC</otherwise>
		</choose>
	</select>

</mapper>
