<div class="sidebar-menu toggle-others fixed">
    <div class="sidebar-menu-inner">
        <header class="logo-env">
            <!-- logo -->
            <div class="logo">
                <a href="/" class="logo-expanded">
                    <img src="/static/img/logo2x.png" width="100%" alt="" />
                </a>
                <a href="/" class="logo-collapsed">
                    <img src="/static/img/logo-collapsed2x.png" width="40" alt="" />
                </a>
            </div>
            <div class="mobile-menu-toggle visible-xs">
                <a href="#" data-toggle="user-info-menu">
                    <i class="linecons-cog"></i>
                </a>
                <a href="#" data-toggle="mobile-menu">
                    <i class="fa-bars"></i>
                </a>
            </div>
        </header>
        <ul id="main-menu" class="main-menu">
            @for(title in titles){
                @if(tool.isEmpty(title.children)){
                <li>
                    <a href="#${title.name}" class="smooth">
                        <i class="fa fa-fw ${title.icon}"></i>
                        <span class="title">${title.name}</span>
                    </a>
                </li>
                @}else{
                <li>
                    <a>
                        <i class="fa fa-fw ${title.icon}"></i>
                        <span class="title">${title.name}</span>
                    </a>
                    <ul>
                        @for(subTitle in title.children){
                        <li>
                            <a href="#${subTitle.name}" class="smooth">
                                <span class="title">${subTitle.name}</span>
                            </a>
                        </li>
                        @}
                    </ul>
                </li>
                @}
            @}

            <div class="submit-tag">
                <a href="/about">
                    <i class="linecons-heart"></i>
                    <span class="tooltip-blue">关于本站</span>
                    <span class="label label-Primary pull-right hidden-collapsed">♥︎</span>
                </a>
            </div>
        </ul>
    </div>
</div>